<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <%- include('../components/generic-tags'); %>
        <%- include('../components/bootstrap-tags'); %>
        <%- include('../components/meta-tags'); %>
     </head>
<body>

</body>
</html> 