<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<%- include('../components/generic-tags'); %>
<%- include('../components/bootstrap-tags'); %>
<%- include('../components/meta-tags'); %>
</head>
<body >
    <div class="container">
        <%- include('../components/login-form'); %>
    </div>


</body>
</html> 