<section class="h-100 gradient-form" style="background-color: white;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black border-none">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="images/logo.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Coffee Shop Contact Us</h4>
                  </div>
  
                  <form>
                    <p>Submit a form to contact us:</p>
                    <br/>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">First Name: </label>
                      <input type="text" id="form2Example11" class="form-control"
                        placeholder="" />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">Last Name: </label>
                      <input type="text" id="form2Example11" class="form-control"
                        placeholder="" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">Email @: </label>
                      <input type="text" id="form2Example11" class="form-control"
                        placeholder="" />
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22">Comments: </label>
                      <input type="text" id="form2Example22" class="form-control" />
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-outline-danger btn-block fa-lg gradient-custom-2 mb-3" type="button">Submit</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-danger px-3 py-4 p-md-5 mx-md-4">

                    <div class="card" style="width:100%">
                        <img class="card-img-top" src="images/contact.jpg"  style="width:100%"alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">Best Coffee Shop</h4>
                          <p class="card-text small mb-0" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                       </p>
                       <p>Phone: 513-***-****</p>
                       <p>Email: flastnam@yourcompanyname.com</p>
                       <p>Area: Cincinnati, OH</p>
                        </div>
                      
                            
                      
                       
                      </div>
                      <br>
                      <a href="#" class="fa fa-github"> Github </a><span> | @CoffeeShop </span>
                      <br/>
                      <br/>
                      <a href="#" class="fa fa-twitter"> Twitter </a><span> | @CoffeeShop</span>
                      <br/>
                      <br/>
                      <a href="#" class="fa fa-instagram"> Instagram </a><span> | CoffeeShop LLC.</span>
                              
               
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>