<footer class="text-center text-lg-start bg-transparent text-white">

    <div class="text-center p-4  bg-transparent text-white">
        © 2022 Copyright:
        <p class="text-reset" >Mason  Worthen. All Rights Reserved</p>

    </div>
</footer>