<div class="row text-center pd-5">
    <div class="col-md-4 mb-4" >
       <div class="card h-100">
          <img class="card-img-top" src="images/image1.png" alt="Design">
          <div class="card-body">
             <h4 class="card-title">Web Applications</h4>
             <p class="card-text">Deliver the best user experience 
             with our carefully designed responsive websites and applications!</p>
          </div>
          <p>Requirments</p>
          <ul>
             <li> Security Paymen: 25% of your total offer</li> 
             
          </ul>
          <div class="card-footer py-4">
            <a href="#" class="btn btn-primary" role="button">Get Offfer &raquo;</a>
          </div>
       </div>
    </div>
    
    <div class="col-md-4 mb-4 " >
       <div class="card h-100">
          <img class="card-img-top" src="images/image2.png" alt="Development">
          <div class="card-body">
             <h4 class="card-title">Desktop </h4>
                <p class="card-text">You need software that works on every device. 
                Leverage the latest technologies and the most powerful tools!</p>
          </div>
          <div class="card-footer py-4">
             <a href="#" class="btn btn-primary">Get Offer &raquo;</a>
          </div>
       </div>
    </div>
    
    <div class="col-md-4 mb-4">
       <div class="card h-100">
          <img class="card-img-top" src="images/image3.png" alt="Analytics">
          <div class="card-body">
             <h4 class="card-title">Phone</h4>
             <p class="card-text">Consult our experts to set up proper goals and 
             find the best stack for your next application!</p>
          </div>
          <div class="card-footer py-4">
            <a href="#" class="btn btn-primary" role="button">Get Offer &raquo;</a>
          </div>
       </div>
    </div>