<div class="container text-white">
 
    <div class="mt-4 p-5  text-white rounded text-center container">
    <h1>Mason Worthen </h1>
    <p>Aspiring Software Developer and Millionaire</p>

    <br />
    <br/>
    <br/>
    <div class=" container card-text small mb-0 text-center" >
      <p>
        My name is Mason Worthen and, I graduated from Mount St. Joseph University in 2022  with a Bachelor of Science in Computer Science.
        I am very passionate about developing and building software applications and I aspire to be financially independent and be able to live
        a comfortable life all while being a great influence and role model. I want to prove not only for myself but for other people
        as well that becoming a millionaire is possible with a plan and with the willpower to never give up on being free. 
   <br/>
    <br/>
    <a href="https://github.com/worthenmc" class="fa fa-github"> Github </a><span> | @worthenmc </span>
                      <br/>
                      <br/>
                      <a href="https://twitter.com/worthenmc" class="fa fa-twitter"> Twitter </a><span> | @worthenmc</span>
                      <br/>
                      <br/>
                      <a href="#" class="https://www.instagram.com/worthenmc/"> Instagram </a><span> | @worthenmc</span>
                              <br/>
    <img src="images/logo.png" style="width:40%; height:20%;" class=""/>

    <P>"Grow with time and never stop growing m<sup>22.....</sup></P>
  </div>
</div>

  
