<nav class="navbar navbar-expand-sm bg-black navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="images/logo.png" class="nav-logo" alt="logo" style="border-radius:100px;"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
         
  
        
          
          
        
        </ul> 
      </div>
    </div>
  </nav> 